# Copyright 2021 Agnostiq Inc.
#
# This file is part of Covalent.
#
# Licensed under the GNU Affero General Public License 3.0 (the "License").
# A copy of the License may be obtained with this software package or at
#
#      https://www.gnu.org/licenses/agpl-3.0.en.html
#
# Use of this file is prohibited except in compliance with the License. Any
# modifications or derivative works of this file must retain this copyright
# notice, and modified files must contain a notice indicating that they have
# been altered from the originals.
#
# Covalent is distributed in the hope that it will be useful, but WITHOUT
# ANY WARRANTY; without even the implied warranty of MERCHANTABILITY or
# FITNESS FOR A PARTICULAR PURPOSE. See the License for more details.
#
# Relief from the License may be granted by purchasing a commercial license.

# Ignore everything
*

# Descend into subdirectories
!*/

# Allow tests, docs, core source, github actions, and detect-secrets filters
!/.detect_secrets_filters/**
!/.github/**
!/covalent_migrations/**
!/covalent/**
!/covalent_ui/**
/covalent_ui/dask-worker-space/**.*lock
!/covalent_dispatcher/**
!/doc/**
/doc/build/**
!/tests/**

# Ignore dask-worker-spaces
**/dask-worker-space

# Ignore __pycache__
**/__pycache__

# Ignore results
**/results

# Allow config files
!.flake8
!.gitignore
!.pre-commit-config.yaml
!.prettierrc
!.pylintrc
!.readthedocs.yaml
!.secrets.baseline
!alembic.ini
!codecov.yml
!Dockerfile
!MANIFEST.in
!Makefile
!README.md
!meta.yaml
!pyproject.toml
!requirements.txt
!setup.py

# Allow markdown etc
!CHANGELOG.md
!CODE_OF_CONDUCT.md
!CONTRIBUTING.md
!LICENSE
!README.md
!VERSION



# Ignore .sonarwork files
covalent_ui/api/.scannerwork/.sonar_lock
covalent_ui/api/.scannerwork/report-task.txt
covalent_ui/api/sonar.sh
