include VERSION
include requirements.txt
include requirements-client.txt
include covalent/py.typed
recursive-include covalent/executor/ *
recursive-include covalent_dispatcher/_service/ *
recursive-include covalent_migrations/ *
recursive-exclude covalent_ui/webapp/ *
recursive-include covalent_ui/webapp/build/ *
recursive-exclude tests/ *
