aiofiles>=0.8.0
aiohttp>=3.8.1
alembic>=1.8.0
boto3>=1.26.110
click>=8.1.3
cloudpickle>=2.0.0,<3
dask[distributed]>=2022.6.0
fastapi>=0.100.0
filelock>=3.12.2
furl>=2.1.3
lmdbm>=0.0.5
mpire>=2.7.1
natsort>=8.4.0
networkx>=2.8.6
orjson>=3.8.10
pennylane>=0.31.1,<0.33.0
psutil>=5.9.0
pydantic>=2.1.1
python-multipart>=0.0.6
python-socketio>=5.7.1
requests>=2.24.0
rich>=12.0.0,<=13.3.5
simplejson>=3.17.6
sqlalchemy>=1.4.37,<2.0.0
sqlalchemy_utils>=0.38.3
toml>=0.10.2
typing-extensions>=4.8.0
uvicorn[standard]==0.18.3
watchdog>=2.2.1
werkzeug>=2.0.3
