accelerate==0.21.0
bs4==0.0.1
covalent-azurebatch-plugin==0.12.0
diffusers==0.19.3
emoji==2.8.0
Pillow==10.3.0
sentencepiece==0.1.99
streamlit==1.30.0
torch==2.0.1
transformers==4.36.0
xformers==0.0.21
