detect-secrets==1.2.0 # Not available on Conda's channels that we have.
flake8==3.9.2
isort==5.7.0
locust==2.11.0
mock==4.0.3
nbconvert==6.3.0
pennylane==0.16.0
pre-commit==2.13.0
pytest==6.2.5
pytest-asyncio==0.19.0
pytest-cov==2.12.0
pytest-mock==3.6.1
pytest-rerunfailures==10.2
Werkzeug==2.2.2