uvicorn==0.15.0
python-dotenv==0.19.2
pydantic==1.9.0
fastapi==0.74.0
nats-py==2.0.0
python-multipart==0.0.5
aiolimiter==1.0.0
fastapi-socketio==0.0.9
websockets==10.2
requests==2.24.0
mock==4.0.3
pytest==7.1.1


