autodocsumm==0.2.6
covalent-awsbatch-plugin==0.9.0rc0
covalent-awslambda-plugin==0.3.2rc0
covalent-braket-plugin==0.3.0rc0
covalent-ecs-plugin==0.7.0rc0
covalent-slurm-plugin
covalent-ssh-plugin
docutils
furo>=2022.6.21
ipython>=8.4.0
ipython_genutils==0.2.0
ipython_genutils==0.2.0
jinja2<3.1.0
myst-parser
nbsphinx
Sphinx~=4.0.0
sphinx-autoapi==1.7.0
sphinx-autodoc-typehints==1.12.0
sphinx-autodoc-typehints
sphinx-automodapi==0.13
sphinx-click
sphinx-copybutton==0.3.3
sphinx-gallery==0.9.0
sphinx-inline-tabs==2021.3.28b7
sphinx-panels==0.6.0
sphinx-prompt==1.4.0
sphinx-tags==0.1.5
sphinx-togglebutton==0.2.3
sphinxcontrib-apidoc==0.3.0
sphinxcontrib-applehelp==1.0.2
sphinxcontrib-devhelp==1.0.2
sphinxcontrib-htmlhelp==2.0.0
sphinxcontrib-jsmath==1.0.1
sphinxcontrib-qthelp==1.0.3
sphinxcontrib-serializinghtml==1.1.5
