@keyframes rotate {
  from {
    transform: rotateZ(-360deg);
  }
  to {
    transform: rotateZ(360deg);
  }
}

.circleRunningStatus {
  animation: rotate 7s linear;
  animation-iteration-count: infinite;
}
