# Copyright 2021 Agnostiq Inc.
#
# This file is part of Covalent.
#
# Licensed under the GNU Affero General Public License 3.0 (the "License").
# A copy of the License may be obtained with this software package or at
#
#      https://www.gnu.org/licenses/agpl-3.0.en.html
#
# Use of this file is prohibited except in compliance with the License. Any
# modifications or derivative works of this file must retain this copyright
# notice, and modified files must contain a notice indicating that they have
# been altered from the originals.
#
# Covalent is distributed in the hope that it will be useful, but WITHOUT
# ANY WARRANTY; without even the implied warranty of MERCHANTABILITY or
# FITNESS FOR A PARTICULAR PURPOSE. See the License for more details.
#
# Relief from the License may be granted by purchasing a commercial license.

name: changelog

on:
  push:
    branches:
      - develop
    paths-ignore:
      - "CHANGELOG.md"
      - "VERSION"
      - ".github/actions/changelog/package.json"
      - ".github/actions/changelog/package-lock.json"
      - ".github/actions/changelog/dist/**"

jobs:
  changelog:
    runs-on: ubuntu-latest
    outputs:
      index: ${{ steps.filter.outputs.index }}
      action: ${{ steps.filter.outputs.action }}
      dist: ${{ steps.filter.outputs.dist }}
    steps:
      - name: Check out head
        uses: actions/checkout@v3
        with:
          token: ${{ secrets.COVALENT_OPS_BOT_TOKEN }}
      - uses: dorny/paths-filter@v2
        id: filter
        with:
          filters: |
            index:
              - '.github/actions/changelog/index.js'
            action:
              - '.github/actions/changelog/action.yml'
            dist:
              - '.github/actions/changelog/dist/**'

      - name: Get latest release
        uses: actions-ecosystem/action-get-latest-tag@v1
        id: get-latest-tag
        with:
          semver_only: true
      - name: Get commits
        id: commits
        uses: octokit/request-action@v2.x
        with:
          route: "GET
            /repos\
            /${{ github.repository }}\
            /compare\
            /${{ steps.get-latest-tag.outputs.tag }}...${{ github.sha }}"
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
      - name: Update version number
        id: changelog
        uses: ./.github/actions/changelog
        with:
          changelog-path: CHANGELOG.md
          version-path: VERSION
          commits-json: ${{toJSON(fromJSON(steps.commits.outputs.data).commits)}}
      - name: Commit
        if: ${{ steps.changelog.outputs.message != 'noop' }}
        uses: EndBug/add-and-commit@v9
        with:
          author_name: CovalentOpsBot
          author_email: covalentopsbot@users.noreply.github.com
          message: ${{ steps.changelog.outputs.message }}
          push: origin develop --force

  action-build:
    needs: changelog
    if: >-
      ${{ (needs.changelog.outputs.action == 'true' || needs.changelog.outputs.index == 'true')
      && needs.changelog.outputs.dist == 'false' }}
    uses: ./.github/workflows/action_build.yml
    secrets: inherit
