# Copyright 2021 Agnostiq Inc.
#
# This file is part of Covalent.
# 
# Licensed under the GNU Affero General Public License 3.0 (the "License"). 
# A copy of the License may be obtained with this software package or at
#
#      https://www.gnu.org/licenses/agpl-3.0.en.html
#
# Use of this file is prohibited except in compliance with the License. Any 
# modifications or derivative works of this file must retain this copyright 
# notice, and modified files must contain a notice indicating that they have 
# been altered from the originals.
#
# Covalent is distributed in the hope that it will be useful, but WITHOUT
# ANY WARRANTY; without even the implied warranty of MERCHANTABILITY or
# FITNESS FOR A PARTICULAR PURPOSE. See the License for more details.
#
# Relief from the License may be granted by purchasing a commercial license.

name: conda

on:
  # TODO: remove this line
  push:
    branches: [conda-release]
#  schedule:
#    - cron: "02 4 * * *"
      

jobs:
  conda:
    runs-on: ubuntu-latest
    defaults:
      run:
        shell: bash -l {0}
    strategy:
      fail-fast: false
      matrix:
        python-version:
          - "3.8"
          - "3.9"
          - "3.10"
    steps:
      - uses: conda-incubator/setup-miniconda@v2
        with:
          use-only-tar-bz2: true 
          auto-update-conda: true
          auto-activate-base: true
          python-version: ${{ matrix.python-version }}
          activate-environment: buildenv
      - name: Install Conda dependencies
        run: |
          conda --version
          conda env list
          conda install conda-build conda-verify anaconda-client
          conda config --append channels conda-forge
      - name: Check out head
        uses: actions/checkout@v3
        with:
          persist-credentials: false
      - name: Build package
        run: |
          conda build --override-channels --output-folder ./ --python ${{ matrix.python-version }} .
      - name: Install package
        run: |
          echo ${{ matrix.python-version }}
          conda install --use-local covalent
      - name: Test package
        run: covalent --version
