# Copyright 2021 Agnostiq Inc.
#
# This file is part of Covalent.
# 
# Licensed under the GNU Affero General Public License 3.0 (the "License"). 
# A copy of the License may be obtained with this software package or at
#
#      https://www.gnu.org/licenses/agpl-3.0.en.html
#
# Use of this file is prohibited except in compliance with the License. Any 
# modifications or derivative works of this file must retain this copyright 
# notice, and modified files must contain a notice indicating that they have 
# been altered from the originals.
#
# Covalent is distributed in the hope that it will be useful, but WITHOUT
# ANY WARRANTY; without even the implied warranty of MERCHANTABILITY or
# FITNESS FOR A PARTICULAR PURPOSE. See the License for more details.
#
# Relief from the License may be granted by purchasing a commercial license.

name: pypi

on:
  push:
    branches:
      - master

jobs:
  pypi:
    runs-on: ubuntu-latest
    steps:
      - name: Check out master
        uses: actions/checkout@v2
      - name: Set up Python
        uses: actions/setup-python@v2
        with:
          python-version: 3.8
      - name: Install Python dependencies
        run: |
          python -m pip install --upgrade pip
          pip install twine
      - name: Set up Node
        uses: actions/setup-node@v2
        with:
          node-version: 16
      - name: Build Webapp
        run: |
          cd ./covalent_ui/webapp
          yarn install
          yarn build
      - name: Build Distribution
        run: python setup.py sdist
      - name: Validate Distribution
        run: |
          VERSION="$(cat ./VERSION)"
          cd dist
          tar xzf cova-${VERSION}.tar.gz
          diff -r cova-${VERSION}/covalent ../covalent
          diff -r cova-${VERSION}/covalent_dispatcher ../covalent_dispatcher
          diff -x README.md cova-${VERSION}/covalent_ui ../covalent_ui 
          diff -r cova-${VERSION}/covalent_ui/webapp/build ../covalent_ui/webapp/build
          rm -rf cova-${VERSION}/
      - name: Upload Distribution
        env:
          TWINE_USERNAME: ${{ secrets.PYPI_USERNAME }}
          TWINE_PASSWORD: ${{ secrets.PYPI_PASSWORD }}
        run: twine upload dist/*
