# Copyright 2021 Agnostiq Inc.
#
# This file is part of Covalent.
# 
# Licensed under the GNU Affero General Public License 3.0 (the "License"). 
# A copy of the License may be obtained with this software package or at
#
#      https://www.gnu.org/licenses/agpl-3.0.en.html
#
# Use of this file is prohibited except in compliance with the License. Any 
# modifications or derivative works of this file must retain this copyright 
# notice, and modified files must contain a notice indicating that they have 
# been altered from the originals.
#
# Covalent is distributed in the hope that it will be useful, but WITHOUT
# ANY WARRANTY; without even the implied warranty of MERCHANTABILITY or
# FITNESS FOR A PARTICULAR PURPOSE. See the License for more details.
#
# Relief from the License may be granted by purchasing a commercial license.

name: tests

on: 
  pull_request:
  push:
    branches:
      - develop

jobs:
  tests:
    runs-on: ${{ matrix.os }}
    strategy:
      fail-fast: false
      matrix:
        os: ['ubuntu-latest']
        container:
          - python:3.8-buster
          - python:3.8-bullseye
          - python:3.9-buster
          - python:3.9-bullseye
          - centos/python-38-centos7
        experimental: [false]
        include:
          - os: macos-latest
            python-version: '3.8'
            experimental: false
    container: ${{ matrix.container }}
    continue-on-error: ${{ matrix.experimental }}
    steps:
      - name: Check out head
        uses: actions/checkout@v2
        with:
          persist-credentials: false
      - name: Set up Python
        if: matrix.os == 'macos-latest'
        uses: actions/setup-python@v2
        with:
          python-version: ${{ matrix.python-version }}
      - name: Install Python dependencies
        run: |
          pip install --no-cache-dir -r ./requirements.txt
          pip install --no-cache-dir -r ./tests/requirements.txt
      - name: Install npm and yarn
        if: matrix.container == 'python:3.8-buster' || 'python:3.8-bullseye' || python:3.9-buster \
          || python:3.9-bullseye || centos/python-38-centos7
          run: |
            apt-get install -y nodejs
            npm install -g yarn
      - name: Build webapp
        run: |
          cd ./covalent_ui/webapp
          yarn install
          yarn build
      - name: Install Covalent
        run: pip install -e .
      - name: Start Covalent dispatcher server
        run: covalent start -d
      - name: Run tests and measure coverage
        run: pytest -v --cov=covalent --cov=covalent_dispatcher
      - name: Generate coverage report
        run: coverage xml
      - name: Upload report to Codecov
        if: matrix.os == 'ubuntu-latest' && matrix.container == 'python:3.8-buster'
        uses: codecov/codecov-action@v2
        with:
          files: ./coverage.xml
      - name: Push to master
        if: github.ref == 'refs/heads/develop' && matrix.os == 'ubuntu-latest' && matrix.container == 'python:3.8-buster'
        run: |
          git config user.name "CovalentOpsBot"
          git config user.email "covalentopsbot@users.noreply.github.com"
          git remote set-url origin https://${{ secrets.COVALENT_OPS_BOT_TOKEN }}@github.com/AgnostiqHQ/covalent.git
          git fetch --unshallow
          git push origin HEAD:master
      - name: Format Slack message
        if: github.ref == 'refs/heads/develop' && matrix.os == 'ubuntu-latest' && matrix.container == 'python:3.8-buster'
        run: |
          VERSION="$(cat ./VERSION)"
          SLACK_MSG=":rocket: Version $VERSION is now available."
          echo "SLACK_MSG=$SLACK_MSG" >> $GITHUB_ENV
      - name: Notify Slack
        if: github.ref == 'refs/heads/develop' && matrix.os == 'ubuntu-latest' && matrix.container == 'python:3.8-buster'
        uses: rtCamp/action-slack-notify@v2
        env:
          SLACK_CHANNEL: "covalent-ci"
          SLACK_USERNAME: "CovalentOpsBot"
          SLACK_MESSAGE: ${{ env.SLACK_MSG }}
          SLACK_WEBHOOK: ${{ secrets.SLACK_WEBHOOK }}
